:root
  --user-chat-width: 70%
  --sidebar-width: 260px
  --sidebar-inline-padding: 12px
  --sidebar-mask: linear-gradient(to var(--end), #000, #000 84%, transparent 89%, transparent 100%)
  --header-height: 60px
  --white: #fff
  --black: #000
  --gray-50: #f9f9f9
  --gray-100: #ececec
  --gray-200: #e3e3e3
  --gray-300: #cdcdcd
  --gray-400: #b4b4b4
  --gray-500: #9b9b9b
  --gray-600: #676767
  --gray-700: #424242
  --gray-750: #2f2f2f
  --gray-800: #212121
  --gray-900: #171717
  --gray-950: #0d0d0d
  --red-500: #e02e2a
  --red-700: #911e1b
  --brand-purple: #ab68ff
  --yellow-900: #4d3b00

.dark
  --main-surface-background: #212121e6
  --message-surface: #323232d9
  --composer-blue-bg: #2a4a6d
  --composer-blue-hover: #1a416a
  --composer-blue-text: #48aaff
  --composer-surface-primary: #303030
  --dot-color: var(--white)
  --text-primary: var(--gray-100)
  --icon-surface: 240 240 240
  --text-primary-inverse: var(--gray-950)
  --text-secondary: var(--gray-400)
  --text-tertiary: var(--gray-500)
  --text-quaternary: var(--gray-600)
  --text-placeholder: #fffc
  --content-primary: #f2f6fa
  --content-secondary: #dbe2e8
  --text-error: #f93a37
  --border-xlight: #ffffff0d
  --border-light: #ffffff1a
  --border-medium: #ffffff26
  --border-heavy: #fff3
  --border-xheavy: #ffffff40
  --border-sharp: #ffffff0d
  --main-surface-primary: var(--gray-800)
  --main-surface-primary-inverse: var(--white)
  --main-surface-secondary: var(--gray-750)
  --main-surface-secondary-selected: #ffffff26
  --main-surface-tertiary: var(--gray-700)
  --sidebar-surface-primary: var(--gray-900)
  --sidebar-surface-secondary: var(--gray-800)
  --sidebar-surface-tertiary: var(--gray-750)
  --sidebar-title-primary: #f0f0f080
  --sidebar-surface: #2b2b2b
  --sidebar-body-primary: #ededed
  --sidebar-icon: #a4a4a4
  --surface-hover: #ffffff26
  --link: #7ab7ff
  --link-hover: #5e83b3
  --surface-error: 249 58 55
  --bg-primary: #212121
  --bg-secondary: #303030
  --bg-tertiary: #414141
  --bg-scrim: #0d0d0d80
  --bg-elevated-primary: #303030
  --bg-elevated-secondary: #181818
  --bg-status-warning: #4a2206
  --bg-status-error: #4d100e
  --border-default: #ffffff26
  --border-heavy: #fff3
  --border-light: #ffffff0d
  --border-status-warning: #4a2206
  --border-status-error: #4d100e
  --text-primary: #fff
  --text-secondary: #f3f3f3
  --text-tertiary: #afafaf
  --text-inverted: #0d0d0d
  --text-inverted-static: #fff
  --text-accent: #66b5ff
  --text-status-warning: #ff9e6c
  --text-status-error: #ff8583
  --icon-primary: #e8e8e8
  --icon-secondary: #cdcdcd
  --icon-tertiary: #afafaf
  --icon-inverted: #0d0d0d
  --icon-inverted-static: #fff
  --icon-accent: #66b5ff
  --icon-status-warning: #ff9e6c
  --icon-status-error: #ff8583
  --interactive-bg-primary-default: #fff
  --interactive-bg-primary-hover: #fffc
  --interactive-bg-primary-press: #ffffffe5
  --interactive-bg-primary-inactive: #fff
  --interactive-bg-primary-selected: #fff
  --interactive-bg-secondary-default: #fff0
  --interactive-bg-secondary-hover: #ffffff1a
  --interactive-bg-secondary-press: #ffffff0d
  --interactive-bg-secondary-inactive: #fff0
  --interactive-bg-secondary-selected: #ffffff1a
  --interactive-bg-tertiary-default: #212121
  --interactive-bg-tertiary-hover: #181818
  --interactive-bg-tertiary-press: #0d0d0d
  --interactive-bg-tertiary-inactive: #212121
  --interactive-bg-tertiary-selected: #212121
  --interactive-bg-accent-default: #013566
  --interactive-bg-accent-hover: #003f7a
  --interactive-bg-accent-muted-hover: #3b4045
  --interactive-bg-accent-press: #004f99
  --interactive-bg-accent-muted-press: #40484f
  --interactive-bg-accent-inactive: #013566
  --interactive-bg-danger-primary-default: #e02e2a
  --interactive-bg-danger-primary-hover: #fa423e
  --interactive-bg-danger-primary-press: #ba2623
  --interactive-bg-danger-primary-inactive: #e02e2a
  --interactive-bg-danger-secondary-default: #fff0
  --interactive-bg-danger-secondary-hover: #fff0
  --interactive-bg-danger-secondary-press: #fff0
  --interactive-bg-danger-secondary-inactive: #fff0
  --interactive-border-focus: #fff
  --interactive-border-secondary-default: #ffffff26
  --interactive-border-secondary-hover: #ffffff26
  --interactive-border-secondary-press: #fff3
  --interactive-border-secondary-inactive: #ffffff1a
  --interactive-border-tertiary-default: #ffffff1a
  --interactive-border-tertiary-hover: #ffffff26
  --interactive-border-tertiary-press: #ffffff1a
  --interactive-border-tertiary-inactive: #ffffff1a
  --interactive-border-danger-secondary-default: #fa423e
  --interactive-border-danger-secondary-hover: #ff6764
  --interactive-border-danger-secondary-press: #e02e2a
  --interactive-border-danger-secondary-inactive: #fa423e
  --interactive-label-primary-default: #0d0d0d
  --interactive-label-primary-hover: #0d0d0d
  --interactive-label-primary-press: #0d0d0d
  --interactive-label-primary-inactive: #0d0d0d
  --interactive-label-primary-selected: #0d0d0d
  --interactive-label-secondary-default: #f3f3f3
  --interactive-label-secondary-hover: #ffffffe5
  --interactive-label-secondary-press: #fffc
  --interactive-label-secondary-inactive: #f3f3f3
  --interactive-label-secondary-selected: #f3f3f3
  --interactive-label-tertiary-default: #cdcdcd
  --interactive-label-tertiary-hover: #cdcdcd
  --interactive-label-tertiary-press: #cdcdcd
  --interactive-label-tertiary-inactive: #cdcdcd
  --interactive-label-tertiary-selected: #cdcdcd
  --interactive-label-accent-default: #99ceff
  --interactive-label-accent-hover: #99ceff
  --interactive-label-accent-press: #99ceff
  --interactive-label-accent-inactive: #99ceff
  --interactive-label-accent-selected: #99ceff
  --interactive-label-danger-primary-default: #fff
  --interactive-label-danger-primary-hover: #fff
  --interactive-label-danger-primary-press: #fff
  --interactive-label-danger-primary-inactive: #fff
  --interactive-label-danger-secondary-default: #fa423e
  --interactive-label-danger-secondary-hover: #ff6764
  --interactive-label-danger-secondary-press: #e02e2a
  --interactive-label-danger-secondary-inactive: #fa423e
  --interactive-icon-primary-default: #0d0d0d
  --interactive-icon-primary-hover: #0d0d0d
  --interactive-icon-primary-press: #0d0d0d
  --interactive-icon-primary-selected: #0d0d0d
  --interactive-icon-primary-inactive: #0d0d0d
  --interactive-icon-secondary-default: #f3f3f3
  --interactive-icon-secondary-hover: #ffffffe5
  --interactive-icon-secondary-press: #fffc
  --interactive-icon-secondary-selected: #f3f3f3
  --interactive-icon-secondary-inactive: #f3f3f3
  --interactive-icon-tertiary-default: #cdcdcd
  --interactive-icon-tertiary-hover: #cdcdcd
  --interactive-icon-tertiary-press: #cdcdcd
  --interactive-icon-tertiary-selected: #cdcdcd
  --interactive-icon-tertiary-inactive: #cdcdcd
  --interactive-icon-accent-default: #99ceff
  --interactive-icon-accent-hover: #99ceff
  --interactive-icon-accent-press: #99ceff
  --interactive-icon-accent-selected: #99ceff
  --interactive-icon-accent-inactive: #99ceff
  --interactive-icon-danger-primary-default: #fff
  --interactive-icon-danger-primary-hover: #fff
  --interactive-icon-danger-primary-press: #fff
  --interactive-icon-danger-primary-inactive: #fff
  --interactive-icon-danger-secondary-default: #fa423e
  --interactive-icon-danger-secondary-hover: #ff6764
  --interactive-icon-danger-secondary-press: #e02e2a
  --interactive-icon-danger-secondary-inactive: #fa423e
  --utility-scrollbar: #fff3

/*除了input以外的所有元素
*:not(input)
  border: 0px solid #eee
  box-sizing: border-box
  margin: 0
  padding: 0
  list-style: none
  font-family: monospace

html
  height: 100%

body
  height: 100%
  background-color: var(--main-surface-primary)
  // background: #fff url(https://cdn.pixabay.com/photo/2017/02/01/22/02/mountain-landscape-2031539_960_720.jpg) no-repeat scroll left center
  background-size: cover

h1
  font-size: 25px

h2
  font-size: 14px
  font-weight: normal

#tip-box
  background-color: rgba(0, 0, 0, 0.6)
  color: white
  border-radius: 5px
  width: 12.5%
  padding: 10px 0px
  position: absolute
  top: 30%
  left: 43.75%
  text-align: center
  z-index: 200
  transition: all 1s

#alert-box, #confirm-box, #login-box
  background-color: rgba(250, 250, 250, 0.9)
  border: 1px solid #f97352
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
  width: 25%
  position: absolute
  top: 25%
  left: 37.5%
  text-align: center
  z-index: 100

#alert-box h1, #confirm-box h1, #login-box h1
  background-color: #f97352
  color: #fff
  margin: 3px

#alert-box p, #confirm-box p
  margin: 20px 10px

#alert-box input[type=button], #confirm-box input[type=button]
  background-color: #f97352
  color: #fff
  border: none
  outline: none
  cursor: pointer
  padding: 5px 20px
  margin: 10px

#alert-box input[type=button]:hover, #confirm-box input[type=button]:hover
  background-color: #db593b

.mask
  width: 100%
  height: 100%
  position: absolute
  top: 0px
  left: 0px
  color: yellow
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 50

.mask-close
  position: absolute
  top: 10px
  right: 10px
  font-size: xx-large
  cursor: pointer
  border: 1px dotted
  padding: 5px

#close-button
  color: #666
  position: absolute
  top: 10px
  right: 10px
  z-index: 1
  cursor: pointer
  opacity: .6

  &::before
    transition: all 0.3s
    content: "X"
    font-size: 20px

  &:hover::before
    transition: all 0.3s
    color: #fff !important

.login-select-button
  padding: 20px

.login-type-button
  position: relative
  padding: 0
  min-width: 150px
  height: 26px
  cursor: pointer
  margin: 5px 0

  &::before
    position: absolute
    top: 3px
    left: 5px
    content: ""
    width: 20px
    height: 20px
    background-size: 20px 20px
    background-repeat: no-repeat
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    display: inline-block
    font-style: normal
    font-variant: normal
    text-rendering: auto
    line-height: 20px
    font-size: large

#login-guest
  transition: all 0.3s
  background-color: #989898
  color: #fff

  &:hover
    transition: all 0.3s
    background-color: #7e7e7e

.guest::before
  content: "\f2bd"
  font-family: Font Awesome\ 5 Free
  font-weight: 900
  border-radius: 50%

#login-twitter
  transition: all 0.3s
  background-color: #55acee
  color: #fff

  &:hover
    transition: all 0.3s
    background-color: #3092d3

  &::before
    font-family: Font Awesome\ 5 Brands
    content: "\f099"

#login-google
  transition: all 0.3s
  background-color: #dd4b39
  color: #fff

  &:hover
    transition: all 0.3s
    background-color: #bd2c22

  &::before
    font-family: Font Awesome\ 5 Brands
    content: "\f3a9"

#login-facebook
  transition: all 0.3s
  background-color: #3b5b9b
  color: #fff

  &:hover
    transition: all 0.3s
    background-color: #1f4582

  &::before
    font-family: Font Awesome\ 5 Brands
    content: "\f39e"

#login-github
  transition: all 0.3s
  background-color: #333333
  color: #ffffff

  &:hover
    transition: all 0.3s
    background-color: #1b1b1b

  &::before
    font-family: Font Awesome\ 5 Brands
    content: "\f09b"

#guest-login
  display: none

  > div
    padding: 20px

.chatroom-wrap
  display: flex
  flex-direction: row
  height: 100%

#member-list
  display: flex
  flex-direction: column
  justify-content: center
  color: #fff
  padding: 15px 10px
  overflow: auto
  box-sizing: border-box

  > ul
    display: flex
    margin: 10px 0px
    overflow: hidden

    > li
      float: left

      &:nth-child(2)
        margin-left: 10px
        font-size: 20px
        line-height: 50px
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

#user-info
  position: relative
  border: 1px solid black
  text-align: center
  background-color: var(--sidebar-surface-primary)
  width: 260px
  height: 100%
  float: left
  margin-right: 1%
  height: inherit
  overflow: hidden

.width100px
  width: 100px !important

.width100person
  width: 100% !important

.ai-center
  align-items: center

.arrow-btn
  position: absolute
  font-size: 30px
  line-height: 40px !important
  right: 10px
  cursor: pointer

.member-wrap
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  padding: 0 20px
  height: 40px
  font-size: 20px
  line-height: 40px
  border-bottom: 1px solid #fff
  box-shadow: 0px 1px 6px 2px #000
  background-color: rgba(0, 139, 139, 0.3)
  color: #fff
  box-sizing: border-box

#guest-username
  outline: none
  margin: 20px
  padding: 5px
  border-bottom-color: #80b620
  border-width: 0px 0px 1px
  background-color: transparent
  max-width: -webkit-fill-available

.login-button
  transition: all 0.3s
  margin: 0px 5px 20px
  border: none
  transition: background-color 300ms ease-in-out 0s
  background-color: #80b620
  color: #fff
  padding: 8px 30px
  cursor: pointer

  &:hover
    transition: all 0.3s
    background-color: #649a00

.back
  transition: all 0.3s
  background-color: #888

  &:hover
    transition: all 0.3s
    background-color: #707070

#chat-wrap
  position: relative
  padding: 10px
  width: 79%
  float: left
  height: 100%

#chat-input
  max-width: 100%
  min-width: 100%
  max-height: 100px
  min-height: 100px
  font-size: large
  color: var(--text-primary)
  width: 100%
  padding: 10px
  background-color: #303030
  border: 2px solid var(--border-default)
  box-shadow: 0px 0px 2px #000
  border-radius: 10px
  &:focus-visible
    border: 2px solid var(--border-default)

.input-tip
  font-size: 12px
  color: red

#chat-list
  font-size: 20px
  overflow: auto
  position: absolute
  top: 137px
  left: 0px
  right: 0px
  bottom: 0px

  > ul
    margin: 5px 0px
    white-space: nowrap

    > li
      &:nth-child(1)
        vertical-align: top
        width: 100px

        > li
          color: var(--text-quaternary)

      &:nth-child(2)
        position: relative
        // background-color: rgba(255, 255, 255, 1)
        background-color: var(--message-surface)
        color: var(--text-primary)
        border-radius: 5px
        padding: 5px
        min-width: 55px
        max-width: calc(100% - 200px)

        > li
          position: absolute
          bottom: -16px
          right: 5px
          color: darkcyan

        &::before
          position: absolute
          top: 2px
          left: -25px
          content: ''
          width: 0
          height: 0
          border: 15px solid var(--message-surface)
          border-color: transparent var(--message-surface) transparent transparent

      &:nth-child(1n)
        display: inline-block

      > li:nth-child(1n)
        font-size: 14px
        font-weight: bold
        text-align: center

/*#chat-list>ul>li>li:nth-child(2) {
 *	font-size: 14px;
 *}

.none-style
  display: none !important

.block-style
  display: block !important

.white-space-pre
  white-space: pre-wrap

.animated
  -webkit-animation-name: flipInX
  animation-name: flipInX
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
  -webkit-animation-iteration-count: 1
  animation-iteration-count: 1
  -webkit-transform-origin: center left
  transform-origin: center left
  -webkit-backface-visibility: visible !important
  backface-visibility: visible !important

@-webkit-keyframes flipInX
  from
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0

  40%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in

  60%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1

  80%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

  to
    -webkit-transform: perspective(400px)
    transform: perspective(400px)

@keyframes flipInX
  from
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in
    opacity: 0

  40%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg)
    -webkit-animation-timing-function: ease-in
    animation-timing-function: ease-in

  60%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg)
    opacity: 1

  80%
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg)

  to
    -webkit-transform: perspective(400px)
    transform: perspective(400px)
