<template>
  <div id="user-info">
    <div class="member-wrap">
      <span id="member-title">Member List</span
      ><i id="toggle-btn" class="arrow-btn fas fa-caret-left"></i>
    </div>
    <div id="member-list"></div>
  </div>

  <div id="chat-wrap">
    <!-- <input type="text" id="chat-input" placeholder="請輸入您想說的話。"> -->
    <textarea
      rows="4"
      cols="50"
      id="chat-input"
      placeholder="請輸入您想說的話。"
    ></textarea>
    <div class="input-tip">請按Enter送出訊息!</div>
    <!-- <input type="button" id="chat-submit-btn" value="送出"> -->
    <div id="chat-list"></div>
  </div>
</template>
